.d1 {
    border: solid red;
    background-color:green;
    width: 300px;
    height: 200px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
}

.tablecss {
    border: solid red;
    background-color:yellow;
    width: 300px;
    height: 200px;
}