html, body {
width: 100%;
height: 100%;
margin:0;
padding:0;
}



/* верхний сайдбар */

.top_bar  {
height: 54px;
display: flex;
align-items: center;
border-bottom: 2px solid black;
}

.menu {
margin-left: -15px;
}

.menu li{
display: inline;
padding: 10px;
height:50px;
}

.title {
width: 140px;
margin-left: 55%;
height: 50px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.link_on_title {
text-decoration: none;
border-radius: 30px;
border: 4px solid red;
padding: 4px;
box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
margin-bottom:10px;
}

.links_at_menu {
text-decoration: none;
margin:2px;
border:2px solid red;
box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
border-radius: 30px;
padding: 4px;
}





/* конец верхнего сайдбара */



.block_table {
height:100%;
}

#table_skeleton {
width:100%;
min-height:100%;
height:100%;
border-collapse: collapse;
border-right:hidden;
border-bottom:hidden;
border-left:hidden;
border-top: hidden;
border-left: hidden;
}

#qwe {
width:20%;
border-right:3px solid black;
text-align:center;
}

d1 a {
font-size:30px;
}

.table_content {
width:70%;
border-collapse: collapse;
}

d2 th, td {
border:2px solid black;
text-align: -webkit-center;
}