<d2>
    {% for m in equipment %}
    {{ m.title }}
    {% endfor %}
    <div>
        <table class="table_content" border="1">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>State</th>
                </tr>
            </thead>

            <tbody>
                {% for m in equip %}
                    <tr>
                        <td>{{ m.title }}</td> <td>{{ m.get_type_display }}</td> <td>{{ m.descr }}</td> <td>{{ m.state }}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</d2>