<d2>
    <div>
        <table class="table_content" border="1">

            <thead>
                <tr>
                    <th>Name</th>
                    <th>Slug</th>
                </tr>
            </thead>

            <tbody>
                {% for m in Equipment %}
                    <tr>
                        <td>{{ m.title }} {{ m.slug }} <a href="{{ m.get_absolute_url }}">Жми сюда</a></td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</d2>