{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FirstApp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'firstapp/css/styles.css' %}">
</head>
<body>

<div class="top_bar">

    <div class="menu">
    <ul>
        {% for m in menu %}
            <li> <a class="links_at_menu" href="{% url m.url_name %}">{{m.title}}</a> </li>
        {% endfor %}
    </ul>
    </div>

    <div class="title">
        <h2><a class="link_on_title" href="{% url url_name %}">{{title}}</a></h2>
    </div>

</div>

{% block content %}
{% endblock content %}

</body>
</html>

