{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FirstApp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'firstapp/css/styles.css' %}">
</head>
<body>

<div class="top_bar">

    <div class="menu">
    <ul>
        <li>Main page</li>
        <li>Actions</li>
        <li>About</li>
        <li>Contacts</li>
    </ul>
    </div>

    <div class="title">
        {% block title %}
        <h2>Main page</h2>
        {% endblock title %}
    </div>
</div>

<hr>

<div class="content">
{% block content %}
{% endblock content %}
</div>

</body>
</html>

