{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>FirstApp</title>
    <link rel="stylesheet" type="text/css" href="{% static 'firstapp/css/styles.css' %}">
</head>
<body>

<div class="top_bar">

    <div class="menu">
    <ul>
        {% for m in menu %}
            <li> <a class="links_at_menu" href="#">{{m.title}}</a> </li>
        {% endfor %}
    </ul>
    </div>

    <div class="title">
        <h2><a class="link_on_title" href="#">{{title}}</a></h2>
    </div>

</div>

{% block content %}

<div class="block_table">
    <table class="table_skeleton" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td id="qwe">{% include 'firstapp/includes/d1.html' %}</td>
            <td align="center">{% block right_side %}{% include 'firstapp/includes/d2.html' %}{% endblock right_side %}</td>
        </tr>
    </table>
</div>

{% endblock content %}

</body>
</html>

